<h1>Cris John Flores</h1>
<html>
<body>
<div class="des">
<table class="vwright">
	<tr>
		<td class="dataa">Name</td>
		<td class="dataa">Age</td>
		<td class="dataa">Action</td>
	</tr>
	<tr *ngFor="let u of users">
		<td class="dataa">{{u.name}}</td>
		<td class="dataa">{{u.age}}</td>
		<td class="dataa">
			<p (click)="updateUser(u._id)" >Update</p>
			<p (click)="deleteUser(u._id)" >Delete</p>
		</td>
	</tr>
	</table>
	<form (submit)="addUser()" class="vwleft"  #myForm="ngForm" >


		<p class="fnt">Name:<input type="text" [(ngModel)]="userName" 
		name="userName"  class="input1" required><br></p>


		<p class="fnt">Age:<input type="Number" [(ngModel)]="userAge" 
		name="userAge" class="input2" required></p>


		<!-- <span *ngIf=" usepassword.valid && useage.valid ">
		<input type="submit" value="Add" class="btns">
		</span> -->
		<input type="submit" value="Add" class="btns">
	</form>
</div>	
</body>
</html>